* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
  border-style: none;
  text-transform: uppercase;
  
}

ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul {
  width: 100%;
  justify-content: space-around;
}

.mover {
  display: flex;
  justify-content: space-around;
  align-items: center;
}